
.shadow-custom-niist {
  box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.584) 
}

.shadow-custom-law{
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.587) 
  
}

.shadow-custom-hostal {
  box-shadow: -20px 12px 20px rgba(0, 0, 0, 0.584) 
}
.shadow-custom-tea {
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.584) 
}

.shadow-custom-hospital{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.584) 
}







/* Base Styles */
body {
    background-image: url('/map/bg3.png');
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .map-container {
    position: relative;
    width: 700px;
    height: 600px;
    margin-left: 160px;
    user-select: none;
  }
  
  /* Left Side Structures */
  .vertical-building {
    height: 490px;
    width: 92px;
    background-color: #4d4535;
    position: absolute;
    top: 40px;
    left: -20px;
  }
  
  .top-horizontal-bar {
    position: absolute;
    top: 5px;
    border-top-right-radius: 20px;
    left: -545px;
    width: 755px;
    height: 35px;
    background-color: #57574b;
  }
  
  .small-connector {
    position: absolute;
    top: 39px;
    left: 72px;
    width: 48px;
    height: 1px;
    background-color: #494841;
  }
  
  .temple-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 38px;
    left: -20px;
    width: 92px;
    height: 40px;
    background-color: #f0e6c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    border: 2px solid #ffeccb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
  }
  
  .kabaddi-ground {
    position: absolute;
    top: 80px;
    left: -20px;
    width: 40px;
    height: 80px;
    background-color: #b7c99a;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
  }
  
  .football-ground {
    position: absolute;
    top: 88px;
    left: 30px;
    width: 42px;
    height: 72px;
    background-color: #b7c99a;
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
  }
  
  .empty-building {
    position: absolute;
    top: 160px;
    left: -20px;
    width: 92px;
    height: 40px;
    background-color: #7a7f7a;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
  }
  
  .rounded-bottom-building {
    position: absolute;
    top: 200px;
    left: -20px;
    width: 92px;
    height: 30px;
    background-color: #b7c99a;
    border-bottom-right-radius: 70px;
    border: 1px solid black;
  }
  
  /* Ayurvedic Section */
  .ayurvedic-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 273px;
    z-index: 3;
    left: -240px;
    width: 120px;
    height: 60px;
    background-color: #f0e6c9;
    border: 4px solid #ffeccb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .green-top-rounded {
    position: absolute;
    top: 245px;
    z-index: 1;
    left: -6px;
    width: 78px;
    height: 45px;
    background-color: #b7c99a;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border: 1px solid black;
  }
  
  .management-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 274px;
    left: -55px;
    width: 63px;
    height: 85px;
    background-color: #f0e6c9;
    border: 4px solid #ffeccb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    z-index: 3;
    justify-content: center;
  }
  
  .management-background {
    position: absolute;
    top: 296px;
    left: 5px;
    width: 67px;
    height: 99px;
    background-color: #b7c99a;
    border: 1px solid black;
    z-index: 1;
  }
  
  .nursing-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 355px;
    left: -55px;
    width: 85px;
    height: 81px;
    background-color: #f0e6c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #ffeccb;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 3;
    justify-content: center;
  }
  
  .small-green-building {
    position: absolute;
    top: 406px;
    left: 12px;
    width: 60px;
    height: 30px;
    background-color: #b7c99a;
    border: 1px solid black;
  }
  
  .nip-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #ffeccb;
    top: 433px;
    left: -55px;
    width: 40px;
    height: 98px;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: bold;
  }
  
  .small-hospital-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 496px;
    left: -16px;
    width: 40px;
    height: 35px;
    background-color: #f0e6c9;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 4px solid #ffeccb;
    z-index: 3;
  }
  
  .white-overlay {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    background-color: #ffff;
    top: 500px;
    left: -50px;
    width: 65px;
    height: 26px;
    z-index: 4;
  }
  
  .medium-green-building {
    position: absolute;
    top: 442px;
    left: 22px;
    width: 50px;
    height: 30px;
    background-color: #b7c99a;
    border: 1px solid black;
  }
  
  .narrow-green-building {
    position: absolute;
    top: 442px;
    left: -8px;
    width: 25px;
    height: 45px;
    background-color: #b7c99a;
    border: 1px solid black;
  }
  
  .hospital-building {
    background-image: url('/public/map/building2.png');
    background-size: cover;
    border: 4px solid #ffeccb;
    position: absolute;
    top: 481px;
    left: 24px;
    width: 49px;
    height: 50px;
    z-index: 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f0e6c9;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Center Structures */
  .vertical-line {
    width: 1px;
    position: absolute;
    top: 210px;
    left: 207.5px;
  }
  
  .vertical-line-dup {
    width: 1px;
    position: absolute;
    top: 210px;
    left: 207.5px;
  }
  
  .bottom-connector {
    position: absolute;
    top: 779px;
    left: 72px;
  }
  
  .horizontal-connector {
    position: absolute;
    top: 244px;
    left: 207.5px;
  }
  
  .right-vertical-line {
    position: absolute;
    top: 512px;
    left: 234px;
  }
  
  .lower-right-vertical-line {
    position: absolute;
    top: 716px;
    left: 234.5px;
  }
  
  .top-brown-building {
    position: absolute;
    top: 229.2px;
    left: -175px;
    width: 160px;
    height: 46px;
    background-color: #4d4535;
    border: 1px solid black;
    border-top-left-radius: 20px;
  }
  
  .top-green-building {
    position: absolute;
    top: 250px;
    left: -155px;
    width: 140px;
    height: 25px;
    background-color: #607a2e;
    border: 1px solid black;
    border-top-left-radius: 10px;
  }
  
  .small-brown-building {
    position: absolute;
    top: 230px;
    left: -50px;
    width: 40px;
    height: 20px;
    background-color: #4d4535;
  }
  
  .side-green-building {
    position: absolute;
    top: 260px;
    left: -154px;
    width: 137px;
    height: 20px;
    background-color: #607a2e;
  }
  
  .main-vertical-building {
    width: 162px;
    height: 760px;
    position: absolute;
    top: 42px;
    left: 72px;
    background-color: #4d4535;
  }
  
  .horizontal-brown-bar {
    width: 280px;
    height: 28px;
    position: absolute;
    top: 370px;
    left: 172px;
    background-color: #4d4535;
  }
  
  .thin-green-building {
    width: 30px;
    height: 300px;
    position: absolute;
    top: 42px;
    left: 210px;
    background-color: #607a2e;
  }
  
  .parking-building {
    position: absolute;
    top: 28px;
    left: 120px;
    width: 90px;
    height: 60px;
    background-color: #7a7f7a;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }
  
  .basketball-building {
    position: absolute;
    top: 83px;
    left: 120px;
    width: 90px;
    height: 45px;
    background-color: #b7bdb7;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
  }
  
  .nips-center-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 128px;
    left: 145px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    width: 65px;
    height: 50px;
    background-color: #b7c99a;
    border: 3px solid #ffeccb;
  }
  
  .plain-green-building-1 {
    position: absolute;
    top: 180px;
    left: 120px;
    width: 90px;
    height: 40px;
    background-color: #b7c99a;
    border: 1px solid black;
  }
  
  .plain-green-building-2 {
    position: absolute;
    top: 225px;
    left: 120px;
    width: 90px;
    height: 40px;
    background-color: #b7c99a;
    border: 1px solid black;
  }
  
  .tea-hall {
    background-image: url('/public/map/building2.png');
    background-size: cover;
    position: absolute;
    top: 215px;
    left: 250px;
    width: 40px;
    height: 50px;
    background-color: #4a4a4a;
    border: 2px solid #ffeccb;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-size: 6px;
    font-weight: 600;
    color: white;
  }
  
  .scholarship-dept {
    background-image: url('/public/map/building2.png');
    background-size: cover;
    position: absolute;
    top: 215px;
    left: 305px;
    width: 40px;
    height: 50px;
    background-color: #b7c99a;
    border: 2px solid #ffeccb;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
    text-align: center;
    font-size: 6px;
    font-weight: 600;
  }
  
  .canteen-building {
    background-image: url('/public/map/building2.png');
    background-size: cover;
    position: absolute;
    top: 215px;
    left: 355px;
    width: 40px;
    height: 50px;
    background-color: #7a7f7a;
    border: 2px solid #ffeccb;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-size: 6px;
    font-weight: 600;
    color: white;
  }
  
  .rounded-top-right-building {
    height: 106px;
    width: 50px;
    border: 1px solid black;
    border-top-right-radius: 50px;
    position: absolute;
    top: 264px;
    left: 400px;
  }
  
  .rounded-top-right-fill {
    height: 104px;
    width: 48px;
    border-top-right-radius: 50px;
    border: none;
    background-color: white;
    position: absolute;
    top: 266px;
    left: 400px;
  }
  
  .top-curved-brown-bar {
    position: absolute;
    top: 265px;
    border-top-right-radius: 50px;
    left: -15px;
    width: 457px;
    height: 35px;
    background-color: #4d4535;
  }
  
  .niist-main-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 300px;
    z-index: 3;
    left: 120px;
    width: 280px;
    height: 70px;
    border: 4px solid #ffeccb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
  }
  
  .electrical-dept {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    border: 4px solid #ffeccb;
    top: 366px;
    left: 120px;
    width: 85px;
    height: 150px;
    z-index: 3;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  
  .mechanical-dept {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 398px;
    left: 235px;
    border: 4px solid #ffeccb;
    width: 80px;
    height: 120px;
    background-color: #f0e6c9;
    z-index: 3;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .law-dept {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    top: 398px;
    left: 315px;
    border: 4px solid #ffeccb;
    width: 80px;
    height: 120px;
    background-color: #f0e6c9;
    z-index: 3;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .cricket-ground {
    position: absolute;
    top: 534px;
    left: 120px;
    width: 117px;
    height: 190px;
    background-color: #726f63;
    font-size: 12px;
    font-weight: 700;
    border: 4px solid #979062;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hostel-building {
    background-image: url('/public/map/building2.png');
    background-size: cover;
    position: absolute;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 730px;
    left: 97px;
    width: 140px;
    height: 70px;
    background-color: #f0e6c9;
    border: 4px solid #ffeccb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Right Side Structures */
  .diagonal-brown-building {
    width: 80px;
    height: 34px;
    position: absolute;
    top: 390px;
    transform: rotate(45deg);
    left: 422px;
    background-color: #4d4535;
  }
  
  .diagonal-line-1 {
    transform: rotate(-45deg);
    position: absolute;
    top: 361px;
    left: 470px;
    width: 1px;
    height: 60px;
    border: 1px solid black;
  }
  
  .vertical-short-line {
    transform: rotate(90deg);
    position: absolute;
    top: 379px;
    left: 410px;
    width: 1px;
    height: 40px;
    border: 1px solid #0f141e;
  }
  
  .diagonal-line-2 {
    transform: rotate(-45deg);
    position: absolute;
    top: 390px;
    left: 450px;
    width: 1px;
    height: 60px;
    border: 1px solid black;
  }
  
  .long-vertical-line {
    position: absolute;
    top: 410px;
    left: 760px;
    width: 1px;
    height: 250px;
    border: 1px solid black;
  }
  
  .medium-vertical-line {
    position: absolute;
    top: 441px;
    left: 470px;
    width: 1px;
    height: 220px;
    border: 1px solid black;
  }
  
  .top-long-horizontal-line {
    position: absolute;
    top: 390px;
    left: 490px;
  }
  
  .bottom-long-horizontal-line {
    position: absolute;
    top: 639px;
    left: 470px;
  }
  
  .large-brown-building {
    width: 295px;
    height: 250px;
    background-color: #4d4535;
    left: 468px;
    position: absolute;
    top: 410px;
  }
  
  .right-curved-building {
    width: 100px;
    border-top-right-radius: 50px;
    height: 130px;
    position: absolute;
    top: 265px;
    background-color: #4d4535;
    left: 350px;
  }
  
  .right-top-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    border: 4px solid #ffeccb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 420px;
    left: 551px;
    width: 210px;
    height: 50px;
    background-color: #f0e6c9;
    border-top-left-radius: 20px;
  }
  
  .right-middle-building {
    position: absolute;
    top: 480px;
    border: 2px solid #ffeccb;
    left: 560px;
    width: 200px;
    height: 80px;
    background-color: #c6d3ac;
  }
  
  .right-bottom-building {
    background-image: url('/public/map/building.png');
    background-size: cover;
    position: absolute;
    border: 4px solid #ffeccb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 578px;
    left: 511px;
    width: 250px;
    height: 80px;
    background-color: #f0e6c9;
  }
  
  /* Zoom Buttons */
  .zoom-in-btn {
    position: fixed;
    top: 570px;
    right: 16px;
    font-size: 20px;
    border-radius: 15px;
    padding: 12px;
    background-color: white;
    color: black;
  }
  
  .zoom-out-btn {
    position: fixed;
    top: 630px;
    right: 16px;
    font-size: 20px;
    border-radius: 15px;
    padding: 12px;
    background-color: white;
    color: black;
  }